{% extends 'base.html' %}

{% block header %}Решение по заявке в друзья{% endblock %}

{% block content %}
    <h2>{{ friend_request.from_user.username }} хочет добавить вас в друзья.</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="friend_request_id" value="{{ friend_request.id }}">
        <button type="submit" name="decision" value="accept">Принять</button>
        <button type="submit" name="decision" value="reject">Отклонить</button>
    </form>
{% endblock %}
