{% extends 'base.html' %}

{% block header %}Список заявок в друзья{% endblock %}

{% block content %}
    <h2>Входящие заявки в друзья:</h2>
    <ul>
        {% for friend_request in incoming_friend_requests %}
            <li>{{ friend_request.from_user.username }} <a href="{% url 'friend_request_decision' friend_request.id %}">принять/отклонить</a></li>
        {% empty %}
            <li>Нет входящих заявок.</li>
        {% endfor %}
    </ul>

    <h2>Исходящие заявки в друзья:</h2>
    <ul>
        {% for friend_request in outgoing_friend_requests %}
            <li>Вы отправили заявку пользователю {{ friend_request.to_user.username }} {{ friend_request.status_display }}</li>
        {% empty %}
            <li>Нет исходящих заявок.</li>
        {% endfor %}
    </ul>
{% endblock %}